* {
    padding:0;
    margin: 0;
}

html { 
    box-sizing: border-box; 
    scroll-behavior: smooth;
}


body{
  margin: 0; 
  padding:0;         
  min-height: 100vh;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  line-height: 43px;
  color: black;
  background: white;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}

.header_up{
  display: flex;
  gap:250px;
}

.container_page_header{
  display: flex;
  gap: 200px;
}

.page_header{
  width: 100%;
  padding: 57px 180px;          
}

img.logo{
  top: clamp(20px, 4vw, 47px);
  left: clamp(20px, 8vw, 122px);
  width: clamp(5px, 3vw, 53px); 
  max-width: none;               
  height: auto;
}

.navigation_buttons{
  display: flex;     
  gap: 100px;        
  list-style: none;   
  margin: 0;
  padding: 0;
}

.navigation_main{
  font-size: 23px;
  color: white;
  text-decoration: none;
}

.container_page_header{
  margin:0;
  padding: 0;
}

.text_header{
  color: white;
  margin-top: 272px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 190px;  

}

.phone{
  width: clamp(500px, 28vw, 520px); /* размер телефона */
  height: auto;    
  margin-left: 400px;                 /* сохраняет пропорции */
}

.text_down_header{
  font-size: 150px;
}



.text_down_middle{
  font-size: 30px;
}

body{ overflow-x: hidden; }
#home{
  max-height: 100dvh;  
  width: 100%;
  background-image: url('images/background.png');
  padding: 0;
  margin: 0;
}

#music{
  min-height: 100dvh;   
  width: 100%;
  background-color:green;
}

#about{
  min-height: 100dvh;   
  width: 100%;
}
